<br>
<div class="card">
  <div class="card-header">
    Add New FAQ
  </div>
  <div class="card-body">
    <form (submit)="addQuestion()">
      <div class="form-group">
        <label for="text">Question Text</label>
        <input type="text" class="form-control" name="text" [(ngModel)]="question.text">
      </div>
      <div class="form-group">
        <label for="answer">Question Answer</label>
        <input type="text" class="form-control" name="answer" [(ngModel)]="question.answer">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>

  </div>
</div>
